
.logo{
    color:black;
    font-size:50px;
    text-align: center;

}
.userinput{
    color:black;
    font-size:18px;
    text-align: center;
}

.flights{
    color:black;
    font-size:20px;
    text-align: center;

}
